{% extends 'base.html' %}
{% load static %}

{% block questions %}
    <h2>New questions</h2>
    <a href="{% url 'hot' %}">Hot questions</a>

    {% block content %}
    <div class="center-align">

        {% for q in qs %}
            {% include 'question_list_item.html' %}
        {% endfor %}
    </div>
        {% endblock %}


{% endblock %}

{% block js %}
    <script>
        (function(){
            $('.js-vote').on('click', function(event){
                event.preventDefault();
                var $this = $(this);
                var qid = $this.data('qid');
                var vote = $this.data('vote');
                console.log('qid: ' + qid + " vote: " + vote);

                $.ajax({
                    url: '/vote/',
                    method: 'POST',
                    data: {
                      'qid': qid,
                      'vote': vote
                    },
                    dataType: 'json',
                    success: function (data) {
                        if(data['ok'] == 1){
                            $('#rating'+qid).text(data['rating']);
                        }
                    }
                })
            })
        })();
    </script>
{% endblock %}