<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Starter Template for Bootstrap</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.7.0/css/font-awesome.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom-checkbox.css' %}">
</head>


<body>
    <!-- NAV BAR -->
    <nav class="navbar navbar-inverse" style="background-color: #4b4a5b; color: white;">
        <a class="navbar-brand">
            SEGMENTATION SUCCESS
        </a>
        <form class="form-inline nav-item mr-auto">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" style="width: 300px;">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-outline-info">
                        Search
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </span>
            </div>
        </form>

        <button class="btn btn-outline-success mr-auto" style="width: 100px;">
            Ask
        </button>
        <div class="nav-account dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                <img class="img-fluid avatar" height="auto" width="50px" src="{% static 'img/peka.jpg' %}">
                Hello, {{ username }}
            </a>

            <div class="dropdown-menu" style="width: 250px;">
                <a href="#" class="dropdown-item">My account</a>
                <a href="#" class="dropdown-item">Settings</a>
                <a href="#" class="dropdown-item">Log out</a>
            </div>
        </div>

    </nav>
    <!-- NAV BAR END -->

    <p></p>



    <div class="container">
        <div class="row">

            <!-- QUESTIONS -->
            <div class="col-md-8">
                <h2>New questions</h2>
                <a href="#">Hot questions</a>

                <div class="center-align">
                    <div class="question">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 right-thin-border center-align">

                                    <a href="#">Mr. Butthurt</a>
                                    <img class="img-fluid avatar" height="auto" src="{% static 'img/peka.jpg' %}" style="width: 70px; height: 70px;">

                                    <div class="center-block thumbs" style="width: 70px;">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a> 25
                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <a href="#">
                                        <h3>{{ questiontitle }}</h3>
                                    </a>
                                    <p>{{ questionsnip }}</p>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="#">Answer(3)</a>
                                            </div>

                                            <div class="col-md-6">
                                                Tags: <a href="#">java</a>,<a href="#">sql</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="question">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-sm-3 col-xs-3 right-thin-border center-align">

                                    <a href="#">Ananas</a>
                                    <img class="img-fluid avatar" height="auto" src="{% static 'img/pineapple.jpg' %}" style="width: 70px; height: 70px;">

                                    <div class="center-block thumbs" style="width: 70px;">
                                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a> 54
                                    <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                                    </div>
                                </div>

                                <div class="col-md-9 col-sm-9 col-xs-9">
                                    <a href="#">
                                        <h3>Asp.Net MVC тег asp-… не работает</h3>
                                    </a>
                                    <p>Здравствуйте. Изучаю MVC по книге, и автор использует тэг &lt;input asp-for="Name"/&gt; или что то связанное с asp-... любое действие с этим тэгом - игнорируется...</p>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="#">Answer(3)</a>
                                            </div>

                                            <div class="col-md-6">
                                                Tags: <a href="#">c#</a>,<a href="#">asp.net-mvc</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="pagination">
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                </ul>

            </div>

            <!-- END QUESTIONS -->

            <div class="col-md-4">
                <!--TAGS-->
                <h2>Popular tags</h2>
                <div class="tags-container">
                    <a href="#" class="tag tag1">Python</a>
                    <a href="#" class="tag tag2">Django</a>
                    <a href="#" class="tag tag1">Bootstrap</a>
                    <a href="#" class="tag tag3">C++</a>
                    <a href="#" class="tag tag2">Brainfuck</a>
                    <a href="#" class="tag tag4">Dichara</a>
                    <a href="#" class="tag tag1">Java</a>
                    <a href="#" class="tag tag3">Scala</a>
                    <a href="#" class="tag tag2">Haskell</a>
                    <a href="#" class="tag tag1">Lisp</a>
                    <a href="#" class="tag tag2">MySQL</a>
                </div>
                <!--END TAGS-->

                <!--BEST MEMS-->
                <h2> Best members </h2>
                <ul class="list-group">
                    <li class="list-group-item"><a href="#">Mr. Freeman</a></li>
                    <li class="list-group-item"><a href="#">YoMama</a></li>
                    <li class="list-group-item"><a href="#">PihPuh</a></li>
                    <li class="list-group-item"><a href="#">Ananas</a></li>
                    <li class="list-group-item"><a href="#">Blender</a></li>
                    <li class="list-group-item"><a href="#">Pupkins</a></li>
                </ul>
                <!--END BEST MEMS-->
            </div>
        </div>
    </div>

    <footer>
        
    </footer>
    
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>

    <script>
        (function() {
            'use strict'

            if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement('style')
                msViewportStyle.appendChild(
                    document.createTextNode(
                        '@-ms-viewport{width:auto!important}'
                    )
                )
                document.head.appendChild(msViewportStyle)
            }

        }())
    </script>

</body>

</html>