{% extends 'base.html' %}

{% load static %}

{% block user %}

    <a href="#" class="nav-link">
        Log in
    </a>

    <a href="#" class="nav-link">
        Register
    </a>

{% endblock %}

{% block questions %}
    <h2>Log In</h2>
    <div class="question-single">
        <p class="text-danger">
            Wrong login or password. Try again.
        </p>
        <form>
            <table class="table borderless table-sm">
                <tbody>
                <tr>
                    <td>
                        Login
                    </td>
                    <td>
                        <input type="text" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" class="form-control">
                    </td>
                </tr>
                </tbody>
            </table>

            <button class="btn btn-outline-success" action="submit">Log in</button>
        </form>
        <p></p>
        <a href="#">New here? Create an account.</a>
    </div>
{% endblock %}