{% extends 'base.html' %}
{% load static %}

{% block questions %}

    <h2>{{ question.title }}</h2>

    <div class="question-single">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 right-thin-border center-align">

                    <a href="#">{{ question.user.username }}</a>
                    <img class="img-fluid avatar" height="auto" src="{% static 'img/peka.jpg' %}"
                         style="width: 70px; height: 70px;">

                    <div class="center-block thumbs" style="width: 70px;">
                        <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                        {{ question.rating }}
                        <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                    </div>
                </div>

                <div class="col-md-9 col-sm-9 col-xs-9">
                    <p>{{ question.text }}</p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">

                            </div>

                            <div class="col-md-6">
                                Tags:
                                {% for tag in question.tags.all %}
                                    <a href="{% url 'tag' tag.name %}">{{ tag.name }} </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>

    {% for ans in answers %}

        <div class="question">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3 right-thin-border center-align">

                        <a href="#">{{ ans.user.username }}</a>
                        <img class="img-fluid avatar" height="auto" src="{% static 'img/pineapple.jpg' %}"
                             style="width: 70px; height: 70px;">

                        <div class="center-block thumbs" style="width: 70px;">
                            <a href="#"><i class="fa fa-thumbs-down" aria-hidden="true"></i></a>
                                {{ ans.rating }}
                            <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <p>{{ ans.text }}</p>
                        <div class="checkbox checkbox-primary flex-hor-center">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" disabled
                                        {% if ans.correct %}
                                            checked
                                        {% endif %}>
                                <span class="custom-control-indicator"></span>

                            </label>
                            Correct
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}


<form method="POST" enctype="multipart/form-data">
    <!--<div class="form-group">
        <label for="questionInput">Enter your answer here</label>
        <textarea class="form-control" id="questionInput" rows="7" placeholder="Enter your question"></textarea>
        <p class="text-danger">Answer is empty</p>
    </div>-->

    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-success">
        Answer
    </button>
</form>
{% endblock %}