{% extends 'base.html' %}

{% load static %}

{% block user %}

    <a href="#" class="nav-link">
        Log in
    </a>

    <a href="#" class="nav-link">
        Register
    </a>

{% endblock %}

{% block questions %}

    <h2>Register</h2>
    <div class="question-single">
        <p class="text-danger">
            Sorry, this email address is already registered
        </p>
        <form>
            <table class="table borderless table-sm">
                <tbody>
                <tr>
                    <td>
                        Login
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="For example, BeautyBoy14">
                    </td>
                </tr>

                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        <input type="email" class="form-control" placeholder="your@email.com">
                    </td>
                </tr>

                <tr>
                    <td>
                        Nickname
                    </td>
                    <td>
                        <input type="email" class="form-control"
                               placeholder="Your nickname is displayed to other users">
                    </td>
                </tr>

                <tr>
                    <td>
                        Password
                    </td>
                    <td>
                        <input type="password" class="form-control" placeholder="********">
                    </td>
                </tr>

                <tr>
                    <td>
                        Repeat password
                    </td>
                    <td>
                        <input type="password" class="form-control" placeholder="********">
                    </td>
                </tr>
                <tr>
                    <td>
                        Upload avatar
                    </td>
                    <td>
                        <input type="file" class="form-control-file">
                    </td>
                </tr>
                </tbody>
            </table>

            <button class="btn btn-outline-success" action="submit">Register</button>
        </form>
    </div>
{% endblock %}