{% extends 'base.html' %}
{% load static %}
{% block questions %}
    <h2>Settings: Mr. Butthurt</h2>
    <div class="question-single">
        <form>
            <table class="table borderless table-sm">
                <tbody>
                <tr>
                    <td>
                        Login
                    </td>
                    <td>
                        <input type="text" class="form-control" value="mr_butthurt">
                    </td>
                </tr>
                <tr>
                    <td>
                        Email
                    </td>
                    <td>
                        <input type="email" class="form-control" value="burning@ass.com">
                    </td>
                </tr>
                <tr>
                    <td>
                        Nickname
                    </td>
                    <td>
                        <input type="text" class="form-control" value="Mr. Butthurt">
                    </td>
                </tr>
                <tr>
                    <td>
                        Avatar
                    </td>
                    <td>
                        <img src="../questions/static/img/peka.jpg" width="150px" class="img-thumbnail">
                    </td>
                </tr>
                <tr>
                    <td>
                        Choose another image
                    </td>
                    <td>

                        <input type="file" class="form-control-file" value="Выбрать другое изображение">
                    </td>
                </tr>
                </tbody>
            </table>

            <button class="btn btn-outline-success" action="submit">Save changes</button>
        </form>
    </div>
{% endblock %}